@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">

    <div class="row">
        <div id="Add an item">
            <h1>Add an item</h1>
            <form action="/" method="post">
                <label>id</label>
                <input type="text" name="id" placeholder="6" />
            </form>
        </div>
    </div>



</div>